$colors: (
  fill: #a972cb,
  pulse: #ef6eae,
  close: #ff7f82,
  raise: #ffa260,
  up: #e4cb58,
  slide: #8fc866,
  offset: #19bc8b,
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
.layout {
  height: 100%;
  .sider {
    background-color: transparent;
    .logo-box {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
}

.file-view-paging {
  span {
    display: inline-block;
    width: 50px;
    margin-right: 3px;
    cursor: pointer;
    text-align: center;
  }
}

.theme-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  span {
    font-size: 14px;
  }
  .ant-switch {
    width: 46px;
  }
}
.divider {
  margin: 0 0 22px !important;
  font-size: 15px !important;
  .anticon {
    margin-right: 10px;
  }
}
.ant-divider-with-text::before,
.ant-divider-with-text::after {
  border-top: 1px solid #dcdfe6 !important;
}
