.content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .text {
        margin: 250px 0;
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        a {
            text-decoration: underline !important;
        }
    }
}
